.post {
  color: yellowgreen;
}

.post-link {
  color: inherit;
}

body {
  background-color: rgba(228, 149, 149, 20%);
}
.sec {
  text-align: center;
}

.link {
  text-align: center;
  background-color: #fff;
  display: inline-block;
  width: 100px;
}

.link:hover {
  color: whitesmoke;
  background-color: red;
  font-style: italic;
}

.header {
  text-align-last: center;
  border: 2px dashed #d8f;
}

.ptext {
  background-color: hotpink;
  text-align: justify;
}

.upper {
  text-transform: uppercase;
}
